/* Píxels (px): Unitat absoluta (valor fix) com els centímetres (1cm = 38px aprox.) */
.font-px {
  font-size: 18px; /* Mida en píxels (px) de cada lletra, per defecte acostuma a ser 16px. */
}

/* EM (em): Unitat relativa a la mida de lletra de l’element pare (un nivell superior). */
.font-em {
  font-size: 1.5em; /* Si el text del pare és de 16px, la mida serà de 16 x 1.5 = 24px */
}

/* RootEM (rem): Relatiu a la mida de lletra de l'element arrel HTML (acostuma a ser 16px). */
.font-rem {
  font-size: 2rem; /* 2 × 16px = 32px, és el format més recomanat per disseny web */
}

/* Viewport Width (vw): Relatiu a l’amplada de la finestra del navegador. */
/* S'utilitza per textos molt grans en landing pages i efectes visuals.*/
.font-vw {
  font-size: 3.5vw; /* 3.5vw = 3.5% de la mida de la pantalla. Valor diferent segons la mida de la pantalla. */
}