/* Espai per defecte entre paraules (normal ó 0px) */
.word-normal {
  word-spacing: normal;
}

/* Paraules molt juntes, sense espais (no s'aconsella aquest ús, només en casos molt concrets). */
.word-04 {
  word-spacing: -4px;
}

/* Paraules amb un espai considerable entre elles. (Títols o paràgraf a destacar). */
.word-8 {
  word-spacing: 8px;
}

/* Paraules molt separades. (Bàsicament només s'utilitza en títols com eslògans). */
.word-16 {
  word-spacing: 16px;
}
