div {
  margin-top: 1rem;
  font-weight: bold;
  box-sizing: border-box;
}

/* Element amb el mateix espai intern a tots els costats (superior, dreta, inferior i esquerra). */
.padding-all {
  padding: 1rem;
  background-color: lightblue;
  border: solid 2px steelblue;
}

/* Element amb el padding especificat a cada costat (top, right, bottom, left) - Agulles del rellotge */
.padding-shorthand {
  padding: 8px 16px 32px 48px;
  background-color: lightgreen;
  border: solid 2px seagreen;
}

/* Element amb el padding establert només a l'eix vertical (superior i inferior). */
.padding-top-bottom {
  padding: 30px 0;
  background-color: lightcoral;
  border: solid 2px crimson;
}

/* Element amb el padding establert només a l'eix horitzontal (esquerra i dreta). */
.padding-left-right {
  padding: 0 30px;
  background-color: lightgray;
  border: solid 2px gray;
}

/* Element amb un marge percentual per a dissenys web responsive. */
.padding-percent {
  padding: 5% 10%;
  background-color: lightgoldenrodyellow;
  border: solid 2px goldenrod;
}