* {
  box-sizing: border-box;
}

p {
  float: left;
  width: 49%; 
  padding: 0.5rem;
  margin: 0.2rem;
  margin-bottom: 0;
  border-radius: 1rem 1rem 0 0;
  background-color: #fefcea;
  border: 1px solid #f1da36;
  text-align: center;
}

div {
  float: left;
  width: 49%;
  padding: 1rem;
  margin: 1px 0.2rem 0.2rem 0.2rem;
  border-radius: 0 0 12px 12px;
  height: 210px;
  border: solid 1px #2e6da4;
}

/* Fons centrat horitzontalment i verticalment */
.bg-center {
  background-image: url('./../img/fons_background_position.png');
  background-position: center center;
  background-repeat: no-repeat;
}

/* Fons amb posicionament personalitzat amb percentatges */
.bg-percentage {
  background-image: url('./../img/fons_background_position.png');
  background-position: 45% 100%;
  background-repeat: no-repeat;
}

/* Fons alineat a la part superior esquerra */
.bg-top-left {
  background-image: url('./../img/fons_background_position.png');
  background-position: top left;
  background-repeat: no-repeat;
}

/* Fons alineat a la part inferior dreta */
.bg-bottom-right {
  background-image: url('./../img/fons_background_position.png');
  background-position: bottom right;
  background-repeat: no-repeat;
}