/* Sense cap decoració (valor per defecte) */
/* Permet treure el subratllat als anchor <a> */
.decoration-none {
  text-decoration: none;
}

/* Text subratllat */
.decoration-underline {
  text-decoration: underline;
}

/* Text ratllat (una línia al mig) */
.decoration-line-through {
  text-decoration: line-through;
}

/* Línia a sobre del text */
.decoration-overline {
  text-decoration: overline;
}

/* Mètode abreujat: Subratllat ondulat de color blau */
.underline-wavy-blue {
  text-decoration: underline wavy dodgerblue;
}

/* Mètode abreujat: Subratllat de punts vermell */
.underline-dotted-red {
  text-decoration: underline dotted darkred;
}

/* Mètode abreujat: Línia doble al mig amb color verd */
.line-through-double-green {
  text-decoration: line-through double seagreen;
}

/* Mètode abreujat: Línia a sobre amb estil dashed i color lila */
.overline-dashed-purple {
  text-decoration: overline dashed darkorchid;
}