/* Interlineat mínim sense solapament (línies molt juntes) */
.line-1 {
  line-height: 1;
}

/* Interliniat amb l'alçada normal (el valor per defecte és 1.2) */
.line-normal {
  line-height: normal;
}

/* Interlineat agradable per la lectura (és el valor recomanat) */
.line-1-6 {
  line-height: 1.6;
}

/* Interlineat amb les línies molt separades */
.line-2 {
  line-height: 2;
}