html {
    font-family: system-ui, sans-serif;
}

/* Lletra amb un gruix normal (per defecte), pot ser "normal" o 400. */
.weight-normal {
  font-weight: normal;
}

/* Lletra poc gruixuda amb valors per sota de 400. */
.weight-thin {
  font-weight: 100;
}

/* Lletra amb un gruix per sobre de la mitjana de 400. */
.weight-medium {
  font-weight: 500;
}

/* Lletra amb un gruix de negreta, pot ser "bold" o 700. */
.weight-bold {
  font-weight: bold;
}

/* Lletra molt gruixuda, a partir de 700 fins a 900. */
.weight-heavy {
  font-weight: 900;
}