* {
  box-sizing: border-box;
}

.box {
  display: inline-block;
  width: 30%;
  margin: 0.5rem;
  padding: 0.5rem;
}

.image-box {
  text-align: center;
  background-color: white;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.image-box img {
  width: 100%;
  border-radius: 6px;
}

/* Uma imatge amb opacitat al 50% (opacity). Permet valors entre 0 i 1. */
.opacity-low img {
  opacity: 0.5;
}

/* Una imatge amb filtre d'escala de grisos (grayscale). */
.grayscale img {
  filter: grayscale(80%);
}

/* Una imatge amb filtre difuminat (blur). */
.blur img {
  filter: blur(2px);
}

/* Imatge de fons per treballar amb backdrop-filter */
.backdrop-box {
  background: url('./../img/imatge_opacity_filter_backdrop-filter.jpg') center/cover no-repeat;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  font-weight: bold;
}

/* Efecte Glassmorphism (Vidre translúcid) Permet escriure text visible damunt d'una imatge. */
/* Treballa amb background-color blanc i backdrop-filter amb blur i brightness */
.backdrop-glass {
  padding: 1rem;
  margin: 20% 0;
  height: 225px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(2px) brightness(1.2);
  color: #222;
}

/* Efecte Blur fosc. Permet escriure text blanc sobre un fons negre damunt d'una imatge. */
.backdrop-blur {
  padding: 1rem;
  margin: 20% 0;
  height: 225px;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(2px);
  color: white;
}

